body { background: #f865b; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 48px; display: flex; }
.block-token-0 { color: #ebc59; font-size: 18px; margin-bottom: 5px; }
.block-product-1 { color: #b53b53; font-size: 12px; margin-bottom: 5px; }
.block-config-2 { color: #aa0f5f; font-size: 14px; margin-bottom: 5px; }
.block-config-3 { color: #d2d213; font-size: 21px; margin-bottom: 5px; }
.block-router-4 { color: #85a731; font-size: 17px; margin-bottom: 5px; }